# Node
**/node_modules

# Environment
**/.env

# Logs
*.log
npm-debug.log*

# Build
frontend/dist

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Docker
postgres-data

# Jenkins
jenkins/jenkins_home/
jenkins/jenkins_home/**

# Frontend env files
frontend/.env.development
frontend/.env.production
